.body {
    margin: 0;
}

.container {
    width: 90%;
    height: auto;
    margin-left: 50px;
    float: right;
    border: 5px solid black;
}


.container-colom-2 {
    width: 50%;
    height: 650px;
    margin: auto;
    float: right;

}


.kolomn-img img {
    width: 500px;
    height: 470px;
    margin-top: 50px;
    margin-left: 50px;

}

.welcome h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
    color: #000;
}

.sign h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    margin-left: 75px;
    margin-top: -40px;
    color: #878484;

}

.form-name input {
    width: 510px;
    height: 50px;
    margin-left: 50px;
    padding-left: 30px;
    background: #fff;
    border: 1px solid #6a6666;

}

.form-pass input {
    width: 510px;
    height: 50px;
    margin-left: 50px;
    padding-left: 30px;
    margin-top: 50px;
    background: #fff;
    border: 1px solid #6a6666;
}

.forgot a h1 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    margin-left: 410px;
    color: #042cf3;
    text-decoration: none;

}

.forgot a {
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

.button-login a button {
    width: 510px;
    height: 50px;
    margin-left: 70px;
    padding-left: 30px;
    border-radius: 25px;
    margin-top: 15px;
    background: #ff8d35;
    border: 1px solid #6a6666;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #f3f1f1;


}

.button-login a button:hover {
    background: #ffa159;
}

.account h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    text-align: right;

    display: inline-block;
    color: #0a0a0a;
    margin-right: 10px;

}

.account a {
    text-align: center;
    text-decoration: none;
}

.account {
    text-align: center !important;

}


.account .signUp {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    text-align: none;
    color: #042cf3;
    text-decoration: none;


}



.account a:hover {
    text-decoration: underline;
}