.container {
    width: 100%;
    margin: 0;
    height: 1200px;
}



.container-kotak-popular {
    width: 100%;
    height: 290px;
    background: #e4e6eb;
    margin-bottom: 700px;
}

.container-2 {
    width: 100%;
    position: absolute;
    top: 375px;
    height: 905px;
}

.container-kotak-1 {
    margin-top: -226px;
    margin-left: 80px;
    width: 50%;
    height: 789px;
    border-radius: 10px;
    background: #fff;
    isolation: isolate;
    border: 3px solid #E0DDDD;

}

.container-kotak-1 .kartu .img-detail {
    width: 650px;
    height: 425px;
    margin-left: 20px;
}

.container-kotak-1 .img-detail-bgt {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    width: 110px;
    height: 70px;
    background: transparent;

}

.kartu h2 {
    font-family: "Arial Hebrew";
    font-weight: normal;
    font-size: 30px;
    margin-left: 30px;
    color: #041b50;


}

.container-kotak-1 .kartu .img-detail {
    width: 610px;

}

.container-kotak-1 .kartu .img-detail-bgt {
    width: 103px;
    height: 70px;

}

.kartu h4 {
    font-family: "Arial Hebrew";
    font-weight: normal;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 30px;
    color: #041b50;

}

.kartu p {
    font-family: "Arial Hebrew";
    font-weight: normal;
    font-size: 20px;
    margin-left: 30px;
    color: black;

}


.container-kotak-2 {
    width: 444px;
    height: 590px;
    position: relative;
    top: -797px;
    left: 650px;
    border-radius: 10px;
    background: #fff;
    border: 3px solid #E0DDDD;
}

.container-kotak-2 h3 {
    font-family: "Arial";
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    margin-left: 15px;
    color: #041b50;
}



.container-kotak-2 img {
    margin-left: 10px;
}

.container-kotak-2 .elips-members {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 310px;
    top: 95px;
    border-radius: 50%;
    border: 1px solid black;
    background: #E0DDDD;
    border: 1px solid rgb(197, 197, 197);


}

.container-kotak-2 .container-elips-members .elips-members span {
    font-family: "roboto";
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 20px;
    color: #041b50;

}

.container-kotak-2 h4 {
    font-family: "Arial";
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    color: #041b50;
}

.container-kotak-2 .name-title {
    margin-top: -20px;
    float: left;
    width: 160px;
    height: 100px;
    line-height: 1.6;
    margin-left: 15px;
    border: 0px solid black;
}

.container-kotak-2 .data-title {
    margin-top: -20px;
    text-align: right;
    margin-left: 55px;
    float: left;
    line-height: 1.6;
    width: 160px;
    height: 100px;
    border: 0px solid black;
}

.container-kotak-2 .btn-join-now button {
    float: center;
    margin-top: 200px;
    width: 438px;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #ff8d35;
    font-family: "roboto";
    font-weight: regular;
    font-size: 20px;
    text-align: center;
    color: #fff;


}

.container-kotak-2 .btn-join-now button:hover {
    background: #ffa15a;
}